@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrWhiteSpace(RequestId))
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    private string? RequestId { get; set; }

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id;
}
